# Integer Data example

In [1]:
420+420

840

# Float Data example

In [5]:
120.5+45.8

166.3

# If else

In [8]:
a = 200
b = 33

if a > b: print("a is greater than b")

a is greater than b

# While loop

In [10]:
i = 1
while i < 16:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

# For loop

In [11]:
for x in range(2, 16):
  print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15

# Array

In [13]:
cars = ["Ford", "Volvo", "BMW"]
print(cars)

['Ford', 'Volvo', 'BMW']